.searchContainer {
   padding: 1rem;
}

.searchTop {
   display: flex;
   align-items: center;
}

.homeBtn {
   display: flex;
   align-items: center;
   justify-content: center;

   background-color: white;
   width: 2rem;
   height: 2rem;
   margin-right: 0.6rem;
   border-radius: 99rem;
}

.search {
   flex: 1;
   display: flex;
}
.search input {
   flex: 1;
   padding: 0.6rem 1rem;
   border-radius: 1rem 0 0 1rem;
}
.search button {
   border-radius: 0 1rem 1rem 0;
   padding: 0.2rem 0.8rem 0 0.6rem;
   font-size: 0.9rem;
}

.results {
   display: flex;
   flex-direction: column;
   gap: 0.4rem;

   margin-top: 0.8rem;
}