.searchContainer {
   padding: 1rem;
}

.searchTop {
   display: flex;
   align-items: center;
}

.homeBtn {
   display: flex;
   align-items: center;
   justify-content: center;

   background-color: white;
   width: 2rem;
   height: 2rem;
   margin-right: 0.6rem;
   border-radius: 99rem;
}

.results {
   display: flex;
   flex-direction: column;
   gap: 0.4rem;

   margin-top: 0.8rem;
}