/* .evento {
   box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.2);
   margin-top: 1rem;
} */
/* .evento:not(:first-child) {
   margin-top: 1rem;
} */

.event {
   --height-eventIcons: 2.6rem;

   background-color: var(--color-platform);
   /* padding: 0.6rem; */
   /* margin-top: 0.4rem; */
   border-radius: 0.2rem;
   box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
   cursor: pointer;
}
.event > * {
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.eventHeader {
   background-color: var(--color-dark-platform);
   padding: 0.6rem;
}
.eventHeader .topInfo {
   display: flex;
   justify-content: space-between;
}
.eventHeader .name {
   font-size: 1.2rem;
}
.eventHeader .data {
   font-size: 0.8rem;
   display: flex;
   align-items: center;
}
.eventHeader .data svg {
   font-size: 1rem;
}
.eventBody {
   padding: 0.6rem;
}
.eventIcons {
   display: flex;
   align-items: center;
   justify-content: space-between;

   height: var(--height-eventIcons);

   /* padding: 0.6rem; */
}
.iconGroup {
   display: flex;
}
.icon {
   display: flex;
   align-items: center;

   /* align-items: center; */
   height: var(--height-eventIcons);
   padding: 0 0.6rem;
   font-size: 1.1rem;
   background-color: inherit;
}
/* .icon:not(:first-child) {
   margin-left: 1.4rem;
} */
.icon :not(:first-child) {
   margin-left: 0.2rem;
}

.marcarPresenca {
   display: flex;
   gap: 0.2rem;
   flex-direction: row-reverse;
   align-items: center;
   /* justify-content: center; */

   /* padding: 0.6rem 0.8rem 0; */
   height: var(--height-eventIcons);
   padding-right: 1.1rem;
   border-left: var(--border-simple);
}
.marcarPresenca svg {
   font-size: 1.1rem;
}
.marcarPresenca.presente {
   color: rgba(0, 0, 0, 0.6);
   background-color: transparent;
   width: 9.4rem;
   /* transition: color 0.1s; */
   transition: background-color 0.15s;
}
.marcarPresenca.presente::after {
   content: 'Participando';
}
.marcarPresenca.presente:hover {
   background-color: rgba(255, 0, 0, 0.74);
   /* background-image: linear-gradient(to right, transparent 2%, rgba(255, 0, 0, 0.74)); */
   color: rgb(130, 0, 0);
}
.marcarPresenca.presente:hover::after {
   content: 'Sair'
}
.marcarPresenca.ausente {
   color: green;
   background-color: rgba(0, 255, 0, 0.4);
   width: 8rem;
   transition: color 1s;
}
.marcarPresenca.ausente::after {
   content: 'Participar';
}