.page {
   /* --height-barraFixa: 2.8rem; */
   --color-pageHeader-a: var(--color-main-a);

   /* position: relative; */
}

.fixedNome {

}
.fixedQtdEventos {
   font-size: 0.8rem;
}

.pageHeader {
   background-color: rgb(var(--color-pageHeader-a));
   /* color: white; */
   /* padding-top: var(--height-barraFixa); */
}
.pageHeader .fotoCapa {
   display: flex;
   align-items: center;
   justify-content: center;

   position: relative;
   /* background-color: purple; */
   /* background-color: rgba(var(--color-dark-platform-a), 0.95); */
   background-color: var(--color-platform);
   width: 100%;
   height: 12rem;
}
.pageHeader .fotoCapa svg {
   font-size: 2rem;
}
.pageHeader .underCapa {
   --size-foto: 8rem;

   position: relative;
   z-index: 1;

   display: flex;
   justify-content: space-between;

   margin-top: calc(var(--size-foto) * -0.5);
}
.pageHeader .underCapa .underCapaBtns button {
   margin: 0 1rem;
   margin-top: calc(var(--size-foto) / 2 + 1rem);
   padding: 0.6rem 1rem;
   border-radius: 99rem;
}
.pageHeader .underCapa .underCapaBtns .btnSeguir {
   color: green;
   font-weight: bold;
}
.pageHeader .underCapa .foto {
   display: flex;

   background-color: rgba(255, 255, 255, 0.9);
   width: var(--size-foto);
   height: var(--size-foto);
   margin-left: 1rem;
   border: 0.34rem solid rgb(var(--color-pageHeader-a));;
   border-radius: 99rem;
}
.pageHeader .underCapa .foto svg {
   align-self: center;
   color: var(--color-main);
   width: 100%;
   font-size: 4rem;
   text-align: center;   
}
.pageHeader .mainInfos {
   padding: 0 1rem;
}
.pageHeader .mainInfos .topInfos span {
   font-size: 0.8rem;
}
.pageHeader .mainInfos .bio {
   margin-top: 1rem;
}
.pageHeader .mainInfos .conexoesInfos {
   display: flex;
   gap: 1rem;
   margin-top: 1rem;
}
.pageHeader .mainInfos .conexoesInfos .btnConexoes {
   cursor: pointer;
}
.pageHeader .mainInfos .conexoesInfos .btnConexoes span {
   display: initial;
}
.pageHeader .mainInfos .conexoesInfos .btnConexoes span:first-child {
   font-weight: bold;
}

.eventos {
   display: flex;
   flex-direction: column;
   gap: 0.4rem;
   
   padding: 1rem;
}

.noEvents {
   display: flex;
   flex-direction: column;
   align-items: center;

   margin-top: 2rem;
}
.noEvents a {
   /* background-color: var(--color-platform);
   padding: 1rem;
   margin-top: 0.6rem;
   border-radius: 99rem; */
   color: white;
}